{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                {% if user.is_authenticated %}
                    <p>Ya está autenticado</p>
                {% else %}
                    <h2 class="mb-2">Escriba la nueva contraseña</h2> 
                
                    <div class="mx-auto form-group" style="max-width:250px">    
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                
        
                            <button class="btn btn-lg btn-primary" type="submit">Cambiar contraseña</button>
                        </form>
                    </div>
                    
                {% endif %}
        </div>
    </div>
</body>

{% endblock %}

