{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                {% if user.is_authenticated %}
                    <p>Ya está autenticado</p>
                {% else %}
                    <h2>Restablecimiento de contraseña enviado</h2>

                    <p>Le enviamos instrucciones por correo electrónico para configurar su contraseña, 
                        si existe una cuenta con el correo electrónico que ingresó. 
                        Debería recibirlos en breve.</p>

                    <p>Si no recibe un correo electrónico, asegúrese de haber ingresado 
                        la dirección con la que se registró y verifique su carpeta de correo 
                        no deseado.</p>
                {% endif %}
        </div>
    </div>
</body>
            
{% endblock %}
            