{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                {% if user.is_authenticated %}
                    <p>Ya está autenticado</p>
                {% else %}
                    <h2>Restablecimiento de contraseña completado</h2>

                    <p>Su contraseña ha sido establecida. Ahora puede continuar e iniciar sesión.</p>

                    <p><a href="/administracion/inicio_sesion">Iniciar Sesion</a></p>
                {% endif %}
        </div>
    </div>
</body>
            
{% endblock %}