{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                {% if user.is_authenticated %}
                    <p>Ya está autenticado</p>
                {% else %}
                    <h3 class="mb-2">Recuperar Contraseña</h3> 
                
                    <div class="mx-auto form-group" style="max-width:250px">    
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
        
                            <button class="btn btn-lg btn-primary" type="submit">Enviar</button>
                        </form>
                    </div>

                    
                {% endif %}
        </div>
    </div>
</body>

{% endblock %}

