{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:900px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Paciente' %}
                        <div class="col">
                            <div class="card mb-4 shadow-sm">
                              <div class="card-header">
                                <h4 class="my-0 fw-normal">Acciones</h4>
                              </div>
                              <div class="card-body">
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li><a class="btn btn-outline-primary" href="/administracion/editar_usuario">Modificar datos</a></li>
                                    <br>
                                    <li><a class="btn btn-outline-primary" href="/administracion/preferencias">Preferencias</a></li>
                                    <br>
                                    <li><a class="btn btn-outline-primary" href="/listar_citas/{{user.id}}">Ver citas</a></li>
                                    <br>
                                    <li> <abbr title="Para configurar el bot de Telegram, debe añadir el bot (llamado TFG 2021 Clínicas Médicas), escribirle algo y después pulsar este botón"> <a class="btn btn-outline-primary" href="/administracion/anhadir_chatid/{{user.id}}">Añadir bot telegram</a> </abbr> </li>
                                </ul>

                                Para ejercicio de los derechos contenidos en el RGPD, contactad al correo: <b>tfg.clinicas.2021@gmail.com</b>
                              </div>
                            </div>
                        </div>                    
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}