{% extends "GestionCitas/base.html" %} {%block content%}
{% load static %}

<body class="text-center">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'Administrativo' %}
                <form action="/administracion/listar_medico" method="GET">
                    {% csrf_token %}
                    <ul><input type="text" name="medico"></ul>
                    <ul><button class="mt-2 mb-3 btn btn-lg btn-primary" type="submit">Buscar</button></ul>
                </form>
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}
</body>


{% endblock %}