{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:250px">
                {% if user.is_authenticated %}
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
        
                    <button class="mb-3 btn btn-lg btn-primary" type="submit">Cambiar Contraseña</button>
                </form>
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        
            </div>
        </div>
    </div>
</body>

{% endblock %}