{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group">
                <h3>Contacto</h3> 
    
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    <div class="mb-2">{{ form.asunto|as_crispy_field }}</div>
                    <div class="mb-2">{{ form.email|as_crispy_field }}</div>
                    {{ form.mensaje|as_crispy_field }}
                    <div class="">{{ form.aceptar|as_crispy_field }}</div>

            
                    <button class="mt-4 btn btn-lg btn-primary" type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}