{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>Doctor</th>
                            <th>Especialidad</th>
                            <th>Nº Colegiado</th>
                            <th>Clínica</th>
                        </tr>
                    </thead>

                    <tbody style="background-color:#ece485">
                        {% for m in medicos %}
                            <tr>
                                <td style="color: #d63131"> Dr. {{ m.apellidos }}, {{ m.nombre }} </td>
                                <td style="color: #d63131">{{ m.especialidad }}</td>
                                <td style="color: #d63131">{{ m.num_colegiado }}</td>
                                <td style="color: #d63131">{{ m.clinica }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="col-md-3">
                <form action="/administracion/cuadro_medico" method="POST">
                    <b><p></p> Filtrar por especialidad </p></b>
                    <select name="especialidad">
                        {% for e in especialidad %}
                            <option>{{ e }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <br>
                    <p><input type="submit" value="Filtrar"></p>
                    {% csrf_token %}
                </form>
            </div>
        </div>
    </div>
</body>

{% endblock %}
