{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:250px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' %}              
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <ul><button class="mt-2 mb-3 btn btn-rg btn-primary" type="submit">Editar administrativo</button></ul>
                        
                            <ul> <a class="mt-2 mb-3 btn btn-rg btn-primary bg-danger" 
                                href="/administracion/borrar_administrativo/{{ aux.id }}" 
                                onClick="return confirm('¿Seguro que quieres borrar a {{aux.usuario.username}}?');"
                                type="submit">
                                Eliminar administrativo </a>
                            </ul>
                        </form>
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}