{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    {% if user.is_authenticated %}
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:250px">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    
                    <p><button class="mt-4 mb-2 btn btn-rg btn-primary" type="submit">Editar Usuario</button><p>
        
                    <p><a href="/administracion/cambiar_contrasena">Cambiar Contraseña</a></p>
                    
                </form>

                <form method="POST" action="/administracion/eliminar_usuario">
                    {% csrf_token %}
                    
                    <div class="btn-group">
                        <button class="btn btn-danger" 
                        onclick="return confirm('¿Seguro que quieres borrar la cuenta?');" 
                        type="submit">
                        Eliminar Cuenta
                        </button>                         
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}
</body>

{% endblock %}

