{% extends "GestionCitas/base.html" %} {%block content%}
{% load static %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:900px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Médico' %}
                        <div class="col">
                            <div class="card mb-4 shadow-sm">
                              <div class="card-header">
                                <h4 class="my-0 fw-normal">Acciones</h4>
                              </div>
                                <div class="card-body">
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li><a class="btn btn-outline-primary" href="/administracion/filtrar_dia_inicio/{{ medico.id }}">Ver agenda del día</a></li>
                                    <br>
                                    <li><a class="btn btn-outline-primary" href="/administracion/buscar_paciente">Buscar paciente</a></li>
                                    <br>
                                    <li><a class="btn btn-outline-primary" href="/administracion/llamada_automatizada/{{ medico.id }}">Llamar siguiente paciente</a></li>
                                    <br>
                                    <li><a class="btn btn-outline-primary" href="/administracion/eliminar_llamada_medico/{{ medico.id }}">Eliminar última llamada</a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>  
            
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}