{% extends "GestionCitas/base.html" %} {%block content%}
{% load static %}

<main class="container">
{% if user.is_authenticated %}
{% for group in user.groups.all %}
{% if group.name == 'Administrativo' %}
  <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Médico</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><a href="/administracion/anhadir_medico">Añadir</a></li>
            <li><a href="/administracion/buscar_medico">Buscar</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Clínica</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><a href="/administracion/anhadir_clinica">Añadir</a></li>
            <li><a href="/administracion/listar_clinica">Listar</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Paciente</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><a href="/administracion/anhadir_paciente">Añadir</a></li>
            <li><a href="/administracion/buscar_paciente">Buscar</a></li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card mb-4 shadow-sm">
        <div class="card-header">
          <h4 class="my-0 fw-normal">Administrativo</h4>
        </div>
        <div class="card-body">
          <ul class="list-unstyled mt-3 mb-4">
            <li><a href="/administracion/anhadir_administrativo">Añadir</a></li>
            <li><a href="/administracion/listar_administrativo">Listar</a></li>
          </ul>
        </div>
      </div>
    </div>

  </div>

  <div class="container text-center">
  <div class="row">
  <div class="mx-auto form-group" style="max-width:900px">
  <div class="col">
    <div class="card mb-4 shadow-sm">
      <div class="card-header">
        <h4 class="my-0 fw-normal">Otros</h4>
      </div>
      <div class="card-body">
        <ul class="list-unstyled mt-3 mb-4">
          <li><a href="/qr"> QR </a></li>
          <li><a href="/administracion/restaurar_bd"> Restaurar BD </a></li>
          <li><a href="/filtro_sala"> Sala de espera </a></li>
          <li><a href="/administracion/importar_exportar"> Importar/Exportar datos </a></li>
          <li><a href="/enviar_recordatorio">Enviar recordatorio citas día siguiente </a></li>
        </ul>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>

  
{% else %}
  <p>No está autorizado a entrar aquí</p>
{% endif %}
{% endfor %}
{% else %}
  <p>No está autorizado a entrar aquí</p>
{% endif %}
</main>


{% endblock %}