{% extends "GestionCitas/base.html" %} {%block content%}
{% load static %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:900px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' %}
                        <div class="col">
                            <div class="card mb-4 shadow-sm">
                              <div class="card-header">
                                <h4 class="my-0 fw-normal">Acciones</h4>
                              </div>
                                <div class="card-body">
                                  <ul class="list-unstyled mt-3 mb-4">
                                    <li><a href="/administracion/importar_clinica"> Importar datos clínicas </a></li>
                                    <li><a href="/administracion/importar_paciente"> Importar datos pacientes </a></li>
                                    <li><a href="/administracion/importar_medico"> Importar datos médicos </a></li>
                                    <li><a href="/administracion/importar_administrativo"> Importar datos administrativos </a></li>
                                    <li><a href="/administracion/importar_usuario"> Importar datos usuarios </a></li>
                                    <br>
                                    <li><a href="/administracion/exportar_clinica"> Exportar datos clínicas </a></li>
                                    <li><a href="/administracion/exportar_paciente"> Exportar datos pacientes </a></li>
                                    <li><a href="/administracion/exportar_medico"> Exportar datos médicos </a></li>
                                    <li><a href="/administracion/exportar_administrativo"> Exportar datos administrativos </a></li>
                                    <li><a href="/administracion/exportar_usuario"> Exportar datos usuarios </a></li>
                                  </ul>
                                </div>
                            </div>
                        </div>  
            
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}