{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<h2>Importar Datos</h2>

<form method="post" enctype="multipart/form-data">  
    {% csrf_token %}  
    <input type="file" name="myfile">  
    <button type="submit">Subir</button>  
</form

{% endblock %}
