{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                {% if user.is_authenticated %}
                    <p>Ya está autenticado</p>
                {% else %}
                    <h3 class="mb-2">Iniciar Sesión</h3> 
                
                    <div class="mx-auto form-group" style="max-width:250px">    
                        <form method="POST" class="post-form">
                            {% csrf_token %}
                            {{ form|crispy }}
        
                            <button class="btn btn-lg btn-primary" type="submit">Inicio Sesión</button>
                        </form>
                    </div>

                    <div>
                        <a class="btn" href="{% url 'password_reset' %}"> Recuperar contraseña </a>
                    </div>

                    <div>
                        <a class="btn" href="/administracion/registro">Registro usuario</a>
                    </div>
                    
                {% endif %}
        </div>
    </div>
</body>

{% endblock %}

