{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' or group.name == 'Médico' %}
                        {% if paciente %}
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apellidos</th>
                                    <th>Teléfono</th>
                                    <th>Correo electrónico</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
        
                            <tbody style="background-color:#ece485">
                                {% for p in paciente %}
                                    <tr>
                                        <td style="color: #d63131">{{ p.nombre }}</td>
                                        <td style="color: #d63131">{{ p.apellidos }}</td>
                                        {% if p.telefono == 0 %}
                                            <td> </td>
                                        {% else %}
                                            <td style="color: #d63131">{{ p.telefono }}</td>
                                        {% endif %}
                                        {% if p.email == 'a@a.com' %}
                                            <td> </td>
                                        {% else %}
                                            <td style="color: #d63131">{{ p.email }}</td>
                                        {% endif %}
                                        <td>
                                            <form method="POST" action="/administracion/borrar_paciente/{{ p.id }}">
                                                {% csrf_token %}
                                                
                                                <div class="btn-group">
                                                    <a href="/listar_citas_admin/{{p.id}}" type="button" class="btn btn-success">Ver citas</a>
                                                    <a href="/administracion/editar_paciente/{{p.id}}" type="button" class="btn btn-primary">Editar </a>
                                                  
                                                    <button class="btn btn-danger" 
                                                    onclick="return confirm('¿Seguro que quieres borrar a {{ p.apellidos }}, {{ p.nombre }}?');" 
                                                    type="submit">
                                                    Eliminar
                                                    </button>                         
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Paciente no encontrado</p>
                        {% endif %}
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}
