{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' %}
                    <div class="col-md-10">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Nombre</th>
                                    <th>Dirección</th>
                                    <th>Teléfono</th>
                                    <th>Salas disponibles (total)</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
        
                            <tbody style="background-color:#ece485">
                                {% for c in clinicas %}
                                    <tr>
                                        <td style="color: #d63131">{{ c.nombre }}</td>
                                        <td style="color: #d63131">{{ c.direccion }}</td>
                                        <td style="color: #d63131">{{ c.telefono }}</td>
                                        <td style="color: #d63131">{{ c.salas_disponibles }}</td>
                                        <td>
                                            <form method="POST" action="/administracion/borrar_clinica/{{ c.id }}">
                                                {% csrf_token %}
                                                
                                                <div class="btn-group">
                                                  <a href="/administracion/editar_clinica/{{c.id}}" type="button" class="btn btn-primary">Editar </a>
                                                  
                                                    <button class="btn btn-danger" 
                                                    onclick="return confirm('¿Seguro que quieres borrar la clinica {{ c.nombre }}?');" 
                                                    type="submit">
                                                    Eliminar
                                                    </button>                         
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        
                    </div>

                    <div class="col-md-2">
                        <form action="/administracion/listar_clinica" method="POST">
                            <p> Filtrar por nombre </p>
                            <p><input name="nombre" style="width:100px"/></p>
                            <p><input type="submit" value="Filtrar"></p>
                            {% csrf_token %}
                        </form>
                    </div>
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        </div>
    </div>
</body>

{% endblock %}
