{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' %}
                        {% if medico %}
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Usuario</th>
                                    <th>Doctor</th>
                                    <th>Especialidad</th>
                                    <th>Nº Colegiado</th>
                                    <th>Clínica</th>
                                    <th>Sala</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
        
                            <tbody style="background-color:#ece485">
                                {% for m in medico %}
                                    <tr>
                                        <td style="color: #d63131">{{ m.usuario.username}}</td>
                                        <td style="color: #d63131"> Dr. {{ m.apellidos }}, {{ m.nombre }}</td>
                                        <td style="color: #d63131">{{ m.especialidad }}</td>
                                        <td style="color: #d63131">{{ m.num_colegiado }}</td>
                                        <td style="color: #d63131">{{ m.clinica }}</td>
                                        <td style="color: #d63131">{{ m.sala }}</td>
                                        <td>
                                            <form method="POST" action="/administracion/borrar_medico/{{ m.id }}">
                                                {% csrf_token %}
                                                
                                                <div class="btn-group">
                                                    <a href="/administracion/filtrar_dia_inicio/{{ m.id }}" type="button" class="btn btn-success"> Agenda </a>
                                                    <a href="/administracion/editar_medico/{{ m.id }}" type="button" class="btn btn-primary">Editar </a>
                                                  
                                                    <button class="btn btn-danger" 
                                                    onclick="return confirm('¿Seguro que quieres borrar a {{m.usuario.username}}?');" 
                                                    type="submit">
                                                    Eliminar
                                                    </button>                         
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                            <p>Médico no encontrado</p>
                        {% endif %}
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}
