{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:300px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Paciente' %}
                        <form method="POST">
                            {% csrf_token %}
                            {{ form.enviar_correo|as_crispy_field }}
                            {{ form.enviar_telegram|as_crispy_field }}
                            <button class="mt-4 btn btn-rg btn-primary" type="submit">Guardar preferencias</button>
                        </form>
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}