{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:250px">
            {% if user.is_authenticated %}
                <p>Ya está autenticado</p>
            {% else %}
        
                <h3>Registro</h3> 
        
                <form method="POST" class="post-form">
                    {% csrf_token %}
                    {{ form|crispy }}
        
                    <button class="mb-3 btn btn-lg btn-primary" type="submit">Registrarse</button>
                </form>
        
        
                <a href="/administracion/inicio_sesion">Iniciar Sesión</a>
            
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}