{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Administrativo' %}
                    <div align="left" class="btn_crear mb-3">
                        <a href="/administracion/fecha_inicio/{{ medico_id }}/1" type="button" class="btn btn-primary"> Anular Citas </a> 
                    </div>
                    <div align="left" class="btn_crear mb-3">
                        <a href="/administracion/fecha_inicio/{{ medico_id }}/2" type="button" class="btn btn-primary"> Posponer Citas </a> 
                    </div>
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Paciente</th>
                                    <th>Hora</th>
                                    <th>Fecha</th>
                                    <th>Confirmada</th>
                                    <th>Llamada médico</th>
                                    <th>Atendido</th>
                                </tr>
                            </thead>
        
                            <tbody style="background-color:#ece485">
                                {% for c in cita %}
                                    <tr>
                                        <td style="color: #d63131">{{ c.paciente }}</td>
                                        <td style="color: #d63131">{{ c.hora }}</td>
                                        <td style="color: #d63131">{{ c.fecha }}</td>
                                        <td style="color: #d63131">
                                            {% if c.confirmada %}
                                                Sí
                                            {% else %}
                                                <a href="/administracion/confirmar_cita/{{ c.id }}" type="button" class="btn btn-success"> Confirmar </a>
                                            {% endif %}
                                        </td>
                                        <td style="color: #d63131">
                                            {% if c.llamada_medico %}
                                                Sí
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                        <td style="color: #d63131">
                                            {% if c.atendido %}
                                                Sí
                                            {% else %}
                                                No
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% elif group.name == 'Médico' %}
                    <table class="table table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>Paciente</th>
                                <th>Hora</th>
                                <th>Fecha</th>
                                <th>Confirmada</th>
                                <th>Llamada</th>
                                <th>Atendido</th>
                            </tr>
                        </thead>
    
                        <tbody style="background-color:#ece485">
                            {% for c in cita %}
                                <tr>
                                    <td style="color: #d63131">{{ c.paciente }}</td>
                                    <td style="color: #d63131">{{ c.hora }}</td>
                                    <td style="color: #d63131">{{ c.fecha }}</td>
                                    <td style="color: #d63131">
                                        {% if c.confirmada %}
                                            Sí
                                        {% else %}
                                            No
                                        {% endif %}
                                    </td>
                                    <td style="color: #d63131">
                                        {% if c.llamada_medico %}
                                            Sí
                                        {% else %}
                                                <a href="/administracion/confirmar_llamada_medico/{{ c.id }}" type="button" class="btn btn-success"> Confirmar </a>
                                        {% endif %}
                                    </td>
                                    <td style="color: #d63131">
                                        {% if c.atendido %}
                                            Sí
                                        {% else %}
                                                <a href="/administracion/confirmar_atencion/{{ c.id }}" type="button" class="btn btn-success"> Confirmar </a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}