<!DOCTYPE HTML>
<html lang="es-es">
{% load static %}
{% load cookielaw_tags %}

  <head>

    <!-- Bootstrap -->
    <link href="{% static 'GestionCitas/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href= "{% static 'GestionCitas/css/style.css' %}"/>
    <link href="{% static 'cookielaw/css/cookielaw.css'%}" rel="stylesheet" />

    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css"> 
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" crossorigin="anonymous" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" crossorigin="anonymous" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" crossorigin="anonymous" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"></script>
    <script src="{% static 'cookielaw/js/cookielaw.js'%}" type="text/javascript"></script>

    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Clínicas Médicas</title>

  </head>

  <body>

    <div class="container-fluid">
      <div class="row">
        <header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
          <a class="h4 my-0 me-md-auto fw-normal" href="/" style="text-decoration:none; color:black"> Clínicas Médicas</a>
          <nav class="my-2 my-md-0 me-md-3">
            <a class="btn p-2 text-dark" href="/">Inicio</a>
            <a class="btn p-2 text-dark" href="/administracion/cuadro_medico">Cuadro Médico</a>
            {% for group in user.groups.all %}
              {% if group.name == 'Paciente' %}
                <a class="btn p-2 text-dark" href="/administracion/area_personal">Área Personal</a>
                <a class="btn p-2 text-dark" href="/cita/{{user.id}}">Pedir Cita</a>
              {% elif group.name == 'Médico' %}
                <a class="btn p-2 text-dark" href="/administracion/gestion_medica">Gestión Médica</a>
              {% elif group.name == 'Administrativo'%}
                <a class="btn p-2 text-dark" href="/administracion/gestion_administrativa">Gestión Administrativa</a>
              {% endif %}
            {% endfor %}
            <a class="btn p-2 text-dark" href="/administracion/contacto">Contacto</a>
          </nav>
          {% if user.is_authenticated %}
          <a class="btn btn-outline-primary" href="/administracion/fin_sesion">Cerrar Sesión</a>
          {% else %}
            <a class="btn btn-outline-primary" href="/administracion/inicio_sesion">Login</a>
            <a class="btn btn-outline-primary" href="/administracion/registro">Registro</a>
          {% endif %}
        </header>
      </div>

      
      {% block content %}{% endblock %}

      <div class="row">
        <!-- Footer -->
        <footer class="mt-5 mb-3">
            
          <div class="container">
            <div class="text-center">
              © 2021 - Trabajo Fin de Grado by Jorge Díaz Seoane.
            </div>
          </div>

        </footer>
      </div>

    </div>

    {% cookielaw_banner %}

    <!-- Bootstrap -->
    <script src="{% static 'GestionCitas/bootstrap/js/bootstrap.bundle.min.js' %}"></script> 

  </body>
</html>