{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags%}
{{ form.media }}

<body class="text-center">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'Administrativo' or group.name == 'Médico'%}
            <div class="container">
                <div class="row">
                    <h2>Cita normal</h2>
                    <div class="mx-auto form-group" style="max-width:175px">
                        
                        <form method="post">
                            {% csrf_token %}
                            <div><a name="medico">{{ form|crispy }}</div>
                            
                            <button class="mt-2 mb-3 btn btn-rg btn-primary" type="submit">Añadir cita</button>
                        </form>
                    </div> 
                </div>
            </div>
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}

</body>


{% endblock %}