{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags%}
{{ form.media }}

<main class="container">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
        {% if group.name == 'Administrativo' or group.name == 'Médico' %}
            <div class="row row-cols-1 row-cols-md-6 mb-6 text-center">
                <div class="col">
                    <div class="card mb-6 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Cita normal</h4>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto form-group" style="max-width:175px">
                                <form action="/hora/{{id_paciente}}" method="post">
                                    {% csrf_token %}
                                    <div><a name="medico">{{ form.medico|as_crispy_field }}</div>
                                    <div><a name="fecha" class="datepicker">{{ form.fecha|as_crispy_field }}</a></div>
        
                                    <button class="mt-4 btn btn-rg btn-primary" type="submit">Elegir hora</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card mb-6 shadow-sm">
                        <div class="card-header">
                            <h4 class="my-0 fw-normal">Cita forzada</h4>
                        </div>
                        <div class="card-body">
                            <div class="mx-auto form-group" style="max-width:175px">
                                <form action="/forzar_cita/{{id_paciente}}" method="post">
                                    {% csrf_token %}
                                    <div><a name="medico">{{ form.medico|as_crispy_field }}</div>
                                    <div><a name="fecha" class="datepicker">{{ form.fecha|as_crispy_field }}</a></div>
        
                                    <button class="mt-4 btn btn-rg btn-primary" type="submit">Elegir hora</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% elif group.name == 'Paciente' %}
        <div class="text-center">
            <div class="col">
                <div class="card shadow-sm">
                    <div class="card-header">
                        <h4 class="my-0 fw-normal">Cita</h4>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto form-group" style="max-width:175px">
                            <form action="/hora/{{id_paciente}}" method="post">
                                {% csrf_token %}
                                <div><a name="medico">{{ form.medico|as_crispy_field }}</div>
                                <div><a name="fecha" class="datepicker">{{ form.fecha|as_crispy_field }}</a></div>
    
                                <button class="mt-4 btn btn-rg btn-primary" type="submit">Elegir hora</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% else %}
            <p>No está autorizado a entrar aquí</p>
        {% endif %}
        {% endfor %}
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}
</main>

{% endblock %}