{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}
{{ form.media }}

<body class="text-center">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'Paciente' %}
            <div class="container">
                <div class="row">
                    <div> <h3> Citas a confirmar </h3> </div>
                    <div>
                        <form name="f1" action="/confirmar_cita_paciente" method="post">
                            {% csrf_token %}
                            {% for c in cita %}
                                {{ c.hora }}, {{ c.medico }}
                                <input type="checkbox" name="c" value="{{c.id}}">
                                <br>
                            {% endfor %}
                            <br>
                            <br>
                            <a href="javascript:seleccionar_todo()">Marcar todos</a> |
                            <a href="javascript:deseleccionar_todo()">Desmarcar todos</a>
                            <br>
                            <button class="mt-4 btn btn-rg btn-primary" type="submit">Confirmar cita/s</button>
                        </form>
                    </div>
                </div>
            </div>

            <script type="text/javascript">
                function seleccionar_todo(){
                    for (i=0;i<document.f1.elements.length;i++)
                        if(document.f1.elements[i].type == "checkbox")
                            document.f1.elements[i].checked=1
                } 
            </script>

            <script type="text/javascript">
                function deseleccionar_todo(){
                    for (i=0;i<document.f1.elements.length;i++)
                        if(document.f1.elements[i].type == "checkbox")
                            document.f1.elements[i].checked=0
                } 
            </script>
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}

</body>


{% endblock %}