{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:250px">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Paciente' or group.name == 'Administrativo' or group.name == 'Médico'%}              
                    <form action="/hora/{{id_paciente}}" method="post">
                        {% csrf_token %}
                        <div><a name="medico">{{ form.medico|as_crispy_field }}</div>
                        <div><a name="fecha">{{ form.fecha|as_crispy_field }}</a></div>
                        <script>
                            $(function () {
                              $("#id_date").datepicker({
                                format:'dd-mm-yyyy',
                              });
                            });
                        </script>

                        <button class="mt-4 btn btn-rg btn-primary" type="submit">Elegir hora</button>
                    </form>
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}