{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags%}
{{ form.media }}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto form-group" style="max-width:175px">
                {% if user.is_authenticated %}
                    {% for group in user.groups.all %}
                        {% if group.name == 'Administrativo' or group.name == 'Médico' %}
                            <form action="/administracion/agenda_dia/{{ id_medico }}/{{ fecha }}" method="GET">
                                {% csrf_token %}
                                <div><a name="fecha">{{ form.fecha|as_crispy_field }}</a></div>
                                <script>
                                    $(function () {
                                        $("#id_date").datepicker({
                                            format: 'dd-mm-yyyy',
                                        });
                                    });
                                </script>
                                <ul><button class="mt-2 mb-3 btn btn-lg btn-primary" type="submit">Buscar</button></ul>
                            </form>
                        {% else %}
                            <p>No está autorizado a entrar aquí</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No está autorizado a entrar aquí</p>
                {% endif %}
            </div>
        </div>
    </div>
</body>


{% endblock %}