{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags%}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
                {% if user.is_authenticated %}
                    {% for group in user.groups.all %}
                        {% if group.name == 'Administrativo' %}
                        <form action="/sala_espera" method="GET">
                            {% csrf_token %}
                            <p> Filtrar sala de espera </p>
                            <p>
                                <select name="clinica">
                                    {% for c in clinicas %}
                                        <option value="{{c.nombre}}">{{c.nombre}} 
                                            (salas: {{ c.salas_disponibles }})</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p><input type="text" name="sala_inicio" placeholder="sala_inicio" style="width:100px"></p>
                            <p><input type="text" name="sala_fin" placeholder="sala_fin" style="width:100px"></p>
                            <p><button class="mt-2 mb-3 btn btn-lg btn-primary" type="submit">Filtrar</button></p>
                        </form>

                        {% else %}
                            <p>No está autorizado a entrar aquí</p>
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <p>No está autorizado a entrar aquí</p>
                {% endif %}

            </div>
        </div>
    </div>
</body>

{% endblock %}