{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}
{{ form.media }}

<body class="text-center">
    {% if user.is_authenticated %}
        {% for group in user.groups.all %}
            {% if group.name == 'Paciente' or group.name == 'Administrativo'  or group.name == 'Médico' %}
            <div class="container">
                <div class="row">
                    <div> <h3> Horas disponibles para {{ fecha }}</h3> </div>
                    {% if aviso %}
                        <b style="color:#FF0000";>Aviso: Ya tiene una cita para esta fecha</b>
                    {% endif %}
                    <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">  
                        <div class="col">
                        {% for c in lista %}
                            {% if forloop.first %}<div class="container">{% endif %}
                            {% if forloop.last %}</div>{% endif %}
                            {% if forloop.counter0|divisibleby:4 %}
                                {% if c != "Ocupada" %}
                                    <div class="mt-2"><a class="btn" href="/registrar_cita/{{ medico }}/{{ paciente }}/{{ fecha }}/{{ c }}">{{ c }}</a></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div> 

                        <div class="col">
                        {% for c in lista %}
                            {% if forloop.first %}<div class="container">{% endif %}
                            {% if forloop.last %}</div>{% endif %}
                            {% if forloop.counter0|add:"-1"|divisibleby:4 %}
                                {% if c != "Ocupada" %}
                                    <div class="mt-2"><a class="btn" href="/registrar_cita/{{ medico }}/{{ paciente }}/{{ fecha }}/{{ c }}">{{ c }}</a></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>

                        <div class="col">
                        {% for c in lista %}
                            {% if forloop.first %}<div class="container">{% endif %}
                            {% if forloop.last %}</div>{% endif %}
                            {% if forloop.counter0|add:"-2"|divisibleby:4 %}
                                {% if c != "Ocupada" %}
                                    <div class="mt-2"><a class="btn" href="/registrar_cita/{{ medico }}/{{ paciente }}/{{ fecha }}/{{ c }}">{{ c }}</a></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>

                        <div class="col">
                        {% for c in lista %}
                            {% if forloop.first %}<div class="container">{% endif %}
                            {% if forloop.last %}</div>{% endif %}
                            {% if forloop.counter0|add:"-3"|divisibleby:4 %}
                                {% if c != "Ocupada" %}
                                    <div class="mt-2"><a class="btn" href="/registrar_cita/{{ medico }}/{{ paciente }}/{{ fecha }}/{{ c }}">{{ c }}</a></div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    </div>   
                </div>
            </div>
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No está autorizado a entrar aquí</p>
    {% endif %}

</body>


{% endblock %}