{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
                <h2>Quiénes somos</h2>

                <p>Lorem ipsum dolor sit amet consectetur adipiscing elit dignissim curae felis habitasse 
                    ursus at sem erat, imperdiet primis vestibulum morbi mattis bibendum fermentum 
                    feugiat orci nibh sed magna eget. Leo urna risus ac sociosqu tempor magnis lacus 
                    phasellus malesuada curabitur, diam nostra primis pulvinar aptent torquent eu 
                    ultricies et massa, arcu senectus viverra curae sollicitudin nisl quis lacinia eget. 
                    Montes accumsan pharetra eros euismod tempus dictumst urna mollis elementum, metus 
                    dapibus suspendisse vel habitasse tincidunt cras ligula, cum ac per risus ullamcorper 
                    volutpat senectus laoreet.
                </p>
          
                <h2>Localización</h2>
          
                <div class="google-maps">
                  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2900.7360121247134!2d-8.414658685073547!3d43.3616322792544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd2e7c896083cbcf%3A0xf30f4a3342fb2762!2sParque%20de%20Santa%20Margarida!5e0!3m2!1ses!2ses!4v1611767563179!5m2!1ses!2ses" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            
            <style>
                .google-maps {
                    position: relative;
                    padding-bottom: 30%;
                    height: 0;
                    overflow: hidden;
                }
                .google-maps iframe {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100% !important;
                    height: 100% !important;
                }
            </style>

        </div>
    </div>
</body>

{% endblock %}
