{% extends "GestionCitas/base.html" %} {%block content%}
{% load static crispy_forms_tags %}

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto">
            {% if user.is_authenticated %}
                {% for group in user.groups.all %}
                    {% if group.name == 'Paciente' or group.name == 'Administrativo' or group.name == 'Médico' %}
                        <div align="left" class="btn_crear mb-3">
                            <a href="/anhadir_cita/{{ paciente }}" type="button" class="btn btn-primary">Crear</a>
                        </div>
                        
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Paciente</th>
                                    <th>Médico</th>
                                    <th>Especialidad</th>
                                    <th>Clínica</th>
                                    <th>Sala</th>
                                    <th>Fecha</th>
                                    <th>Hora</th>
                                    {% if group.name == 'Administrativo' or group.name == 'Médico' %}
                                        <th>Cita correlacionada</th>    
                                    {% endif %}
                                    <th>Acciones</th>
                                </tr>
                            </thead>
        
                            <tbody style="background-color:#ece485">
                                {% for c in cita %}
                                    <tr>
                                        <td style="color: #d63131">{{ c.paciente }}</td>
                                        <td style="color: #d63131">Dr. {{ c.medico.apellidos }}, {{ c.medico.nombre }}</td>
                                        <td style="color: #d63131">{{ c.medico.especialidad }}</td>
                                        <td style="color: #d63131">{{ c.clinica }}</td>
                                        <td style="color: #d63131">{{ c.sala }}</td>
                                        <td style="color: #d63131">{{ c.fecha }}</td>
                                        <td style="color: #d63131">{{ c.hora }}</td>
                                        {% if group.name == 'Administrativo' or group.name == 'Médico' %}
                                            {% if c.cita_correlacionada == NULL %}
                                                <td> </td>
                                            {% else %}
                                                <td style="color: #d63131">{{ c.cita_correlacionada }}</td>
                                            {% endif %}
                                        {% endif %}
                                        {% if not c.confirmada %}
                                        <td>
                                            <form method="POST" action="/borrar_cita/{{ c.id }}">
                                                {% csrf_token %}
                                                
                                                <div class="btn-group">
                                                    {% if group.name == 'Administrativo' or group.name == 'Médico' %}
                                                        <a href="/cita_correlacionada/{{c.id}}" type="button" class="btn btn-success">Correlación </a>
                                                    {% endif %}
                                                    <a href="/editar_cita/{{c.id}}" type="button" class="btn btn-primary">Editar </a>

                                                    <button class="btn btn-danger" 
                                                    onclick="return confirm('¿Seguro que quieres borrar la cita del {{ c }}?');" 
                                                    type="submit">
                                                    Eliminar
                                                    </button>                         
                                                </div>
                                            </form>
                                        </td>
                                        {% else %}
                                        <td style="color: #d63131"> Cita confirmada </td>
                                        {% endif %}
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>   
                    {% else %}
                        <p>No está autorizado a entrar aquí</p>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>No está autorizado a entrar aquí</p>
            {% endif %}
            </div>
        </div>
    </div>
</body>

{% endblock %}