{% extends "GestionCitas/base.html" %} {%block content%}
{% load static %}

<body class="text-center">
    <div class="container">
        <div class="row" style="max-width:1200px">
            <center>
                <img class="text-center" src="{% static 'GestionCitas/img/codigo.png' %}">
            </center>
        </div>
    </div>
</body>

{% endblock %}